In [1]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')
data.head(5)

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [2]:
pwd

'C:\\Users\\lenovo'

In [3]:
data.tail(5)

     buying maint  doors  persons lug_boot safety outcome
1723    low   low      5        5      med    med    good
1724    low   low      5        5      med   high   vgood
1725    low   low      5        5      big    low   unacc
1726    low   low      5        5      big    med    good
1727    low   low      5        5      big   high   vgood

In [4]:
data.shape

(1728, 7)

In [5]:
data.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [6]:
X = data.iloc[:,:-1]
y = data.outcome
X.head()

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high
3  vhigh  vhigh      2        2      med    low
4  vhigh  vhigh      2        2      med    med

In [7]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['buying','maint','lug_boot','safety']] = X.loc[:,['buying','maint','lug_boot','safety']].apply(enc.fit_transform)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9441233140655106

col_0    acc  good  unacc  vgood
outcome
acc       93     1      8      0
good       8    13      0      0
unacc      3     0    368      0
vgood      6     2      1     16

In [11]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\lenovo\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\lenovo\anaconda3\lib\site-packages (from imblearn) (0.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.16.4)
Requirement already satisfied: scipy>=0.19.1 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.1)
Requirement already satisfied: joblib>=0.11 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.13.2)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\lenovo\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.0.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [19]:
X_train_smote, y_train_smote = smote.fit_resample(X_train.astype('float'),y_train)

In [20]:
from collections import Counter
print("Before SMOTE :" , Counter(y_train))
print("After SMOTE :" , Counter(y_train_smote))

Before SMOTE : Counter({'unacc': 839, 'acc': 282, 'good': 48, 'vgood': 40})
After SMOTE : Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})

In [21]:
model.fit(X_train_smote,y_train_smote)
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9499036608863198

col_0    acc  good  unacc  vgood
outcome
acc       93     7      0      2
good       2    19      0      0
unacc     11     1    358      1
vgood      0     2      0     23